{% extends "base.html" %}

{% block heading %}
    {% if page_found %}
        {% for category in categories %}
            {% if category[0] == category_id %}
                {{ category[1] }}
            {% endif %}
        {% endfor %}
    {% else %}
        Page not found
    {% endif %}
{% endblock %}

{% block main %}
    {% if page_found %} <!-- Check if the category exists -->
        {% if logged_in and is_teacher %} <!-- Check if they are logged in and are a teacher -->
        <a href="/confirm/{{ category_id }}">Remove Category</a>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <td>Maori</td>
                    <td>English</td>
                    <td>Description</td>
                    <td>Level</td>
                    <td>Image</td>
                </tr>
            </thead>
            <tbody>
                {% for word in words %} <!-- Go through all the words and check if they are in the category -->
                    {% if word[7] == category_id %}
                    <tr>
                        <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
                        <td>{{ word[2] }}</td>
                        <td>{{ word[3] }}</td>
                        <td>{{ word[4] }}</td>
                        <td><img src="../static/images/{{ word[8] }}"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% if logged_in and is_teacher %} <!-- Check if they are logged in and are a teacher -->
        <form class="dataForm" method="POST">
        <div><p>Add a word</p></div>
        <div class="form-group">
            <div class="form-label">Maori Word</div>
            <div class="form-element"><input type="text" name="Maori_word" id="Maori_word" required maxlength="20"></div>
        </div>
        <div class="form-group">
            <div class="form-label">English Translation</div>
            <div class="form-element"><input type="text" name="English_translation" id="English_translation" required maxlength="20"></div>
        </div>
        <div class="form-group">
            <div class="form-label">Year Level</div>
                <input type="radio" id="1" name="Level" value="1" required checked>
                <label for="1">1</label>
                {% for i in range(2, 11) %} <!-- Create radio inputs that range from 2 to 10 -->
                    <input type="radio" id="{{ i }}" name="Level" value="{{ i }}" required>
                    <label for="{{ i }}">{{ i }}</label>
                {% endfor %}
        </div>
        <div class="form-group">
            <div class="form-label">Description</div>
            <div class="form-element"><textarea name="Description" required maxlength="100"></textarea></div>
        </div>
        <div class="form-group">
            <div class="form-element"><input type="submit" value="Add Word"></div>
        </div>
        </form>
        {% endif %}
    {% else %}
        <p>Page not found</p>
    {% endif %}
{% endblock %}