{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Delete Word{% endblock %}

{% block main %}
    {% for category in categories %}
        {% if category[0] == category_id %}
            <p>Are you sure you want to delete {{ category[1] }} - <a href="/remove_category/{{ category_id }}">Yes</a>/<a href="/categories/{{ category_id }}">No</a></p>
        {% endif %}
    {% endfor %}

    <table>
        <thead>
            <tr>
                <td>Maori</td>
                <td>English</td>
                <td>Description</td>
                <td>Level</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
                {% if word[7] == category_id %}
                <tr>
                    <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                    <td>{{ word[4] }}</td>
                    <td><img src="../static/images/{{ word[8] }}"></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}





