{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    <h1>Welcome to Wallace's Maori - English Dictionary</h1>
    {% if logged_in and is_teacher %}
        <form class="dataForm" method="POST">
            <div class="form-group">
                <div class="form-label">Category Name</div>
                <div class="form-element"><input type="text" name="category" id="category" required></div>
            </div>
            <div class="form-group">
                <div class="form-label"></div>
                <div class="form-element"><input type="submit" value="Add Category"></div>
            </div>
        </form>
    {% endif %}

{% endblock %}
