{% extends "base.html" %}

{% block pageheading %}Sign up{% endblock %}

{% block main %}
<form class="dataForm" method="POST">
    <div class="form-group">
            <div class="form-label">First Name:</div>
            <div class="form-element"><input type="text" name="fname" id="fname" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Last Name:</div>
        <div class="form-element"><input type="text" name="lname" id="lname" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email" name="email" id="email" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name="password" id="password" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Confirm Password:</div>
        <div class="form-element"><input type="password" name="cpassword" id="cpassword" required></div>
    </div>
    <div class="form-group">
        <input type="radio" id="Student" name="admin" value="Student">
        <label>Student</label>
        <input type="radio" id="Teacher" name="admin" value="Teacher">
        <label>Teacher</label>
    </div>
    <div class="error">{{ error }}</div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Sign Up"></div>
    </div>
    </form>

{% endblock %}