{% extends "base.html" %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
    {% for word in words %}
            {% if word[0] == word_id %}
                {% if logged_in %}
                    <h1>{{ word[1] }}({{ word[2] }}) - <a href="/confirm_word/{{ word_id }}">Remove</a></h1>
                {% else %}
                    <h1>{{ word[1] }}({{ word[2] }})</h1>
                {% endif %}
                <p><strong>Definition:</strong> {{ word[3] }}</p>
                <p><strong>Level:</strong> {{ word[4] }}</p>
                <p><strong>Date Added:</strong> {{ word[5] }}</p>
                {% for user in user_data %}
                    {% if user[0] == word[6] %}
                        <p><strong>Last Edited By:</strong> {{ user[1] }} {{ user[2] }}</p>
                    {% endif %}
                {% endfor %}
                <img src="../static/images/{{ word[8] }}">
                {% if logged_in %}
                    <form class="dataForm" method="POST">
                        <div><p>Edit Word</p></div>
                        <div class="form-group">
                            <div class="form-label">Maori Word</div>
                            <div class="form-element"><input type="text" name="Maori_word" id="Maori_word" value="{{ word[1] }}" required></div>
                        </div>
                        <div class="form-group">
                            <div class="form-label">English Translation</div>
                            <div class="form-element"><input type="text" name="English_translation" id="English_translation", value="{{ word[2] }}" required></div>
                        </div>
                        <div class="form-group">
                            <div class="form-label">Year Level</div>
                                {% for i in range(10) %}
                                    {% if i + 1 == word[4] %}
                                        <input type="radio" id="{{ i + 1 }}" name="Level" value="{{ i + 1 }}" checked>
                                    {% else %}
                                        <input type="radio" id="{{ i + 1 }}" name="Level" value="{{ i + 1 }}">
                                    {% endif %}
                                    <label for="{{ i + 1 }}">{{ i + 1 }}</label>
                                {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="form-label">Definition</div>
                            <div class="form-element"><textarea name="Description">{{ word[3] }}</textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="form-element"><input type="submit" value="Add Changes"></div>
                        </div>
                        </form>
                {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}